bin
/dump/
.vscode/*.log
*_stats/
*_stat
gen_serde/gen_serde
q8_out/
q1_out/
q2_out/
q3_out/
q4_out/
q7_out/
.ipynb_checkpoints/
.metals/
benchmark/lat_tp/kafka_consume_java/.idea/
benchmark/lat_tp/kafka_produce_java/.idea/
