package {{.PackageName}}

import (
	"testing"

	"github.com/brianvoe/gofakeit/v7"
	{{.ExtraImports}}
)

func TestSerde{{.TypeName}}(t *testing.T) {
  faker := gofakeit.New(3)
  v := {{.TypeName}}{}
  jsonSerdeG := {{.TypeName}}JSONSerdeG{}
  jsonSerde := {{.TypeName}}JSONSerde{}
  msgSerdeG := {{.TypeName}}MsgpSerdeG{}
  msgSerde := {{.TypeName}}MsgpSerde{}
  {{.CommtypesPrefix}}GenTestEncodeDecode[{{.TypeName}}](v, t, jsonSerdeG, jsonSerde)
  {{.CommtypesPrefix}}GenTestEncodeDecode[{{.TypeName}}](v, t, msgSerdeG, msgSerde)
	err := faker.Struct(&v)
	if err != nil {
		t.Fatal(err)
	}
	{{.CommtypesPrefix}}GenTestEncodeDecode[{{.TypeName}}](v, t, jsonSerdeG, jsonSerde)
	{{.CommtypesPrefix}}GenTestEncodeDecode[{{.TypeName}}](v, t, msgSerdeG, msgSerde)
}
